@use '../modules/index.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  padding: 20px 0;
}

.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;

  &.dark {
    background-color: index.$secondary-black;

    &:hover {
      background-color: #1b1b1b;
    }
  }

  &.light {
    background-color: index.$secondary-white;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}
